# General
.DS_Store
Thumbs.db
*data.json
*.log
*.log.*
*.log-*
*.log/*
*.log.*
*data
*data.*
*data-*
airports.json
filtered_airports.json
env
env_old
#the text.txt file
text.txt
testtest.py
db.json

# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environment
myenv/
.myenv
*.env
.env
.env.local

# Django
*.log
*.pot
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.idea/

# Miscellaneous
*.iml
.sorl-thumbnail/

# Compiled files
*.so
*.class
*.dll
*.exe
*.pdb
*.mdb
*.opendb
*.idb
*.exp
*.lib
*.pch
*.sbr
*.a
*.lo
*.o
*.bundle
*.rbc
*.rb~
*.os
*.obj
*.dockerfile

# Docker
Dockerfile
docker-compose.yml
docker-compose.yaml
docker-compose.override.yml
*.dockerfile
*.docker-compose.yml
*.docker-compose.yaml
*.docker-compose.override.yml


.venv

*/migrations/*


test_debug.py 
.gitignore
*/migrations/*.py
*/migrations/*.pyc
*/__pycache__/*

.env_old/
.gitignore